body{background-color:#e9ebee;}
.author{font-weight:bold;}
.post-content-text{margin-left:15px;}
.post-content{border-bottom: 10px solid #e9ebee;}
.btn-commenter{float:right;width:10%}
.panel-posts{clear:both;/*max-height:500px; overflow-y:scroll;*/}
.input-comment{float:left;width:90%;}
.comment-author,.post-comment-text{color:#8b8b8b;}
.comment-author{font-weight:bold;}
.fileInput{visibility:hidden;height:0px;width:0px;}
.btn-poster{float:left;width:120px;}
.block-image{float:right;}
hr{margin:0;height:3px;border:none;color:#e8eaee;background-color:#e8eaee;}